@import "tailwindcss";



body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: tomato;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.navbar .links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: #fff3e0;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.food-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.food-card img {
  width: 100%;
  border-radius: 10px;
}

.contact-box {
  padding: 40px;
  text-align: center;
}
/* Hide scrollbar for Chrome, Safari and Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
}
